doctype html
html
    head
        title= "Error page"
        include ./includes/head.jade
    body
        .container
            h1
                span.fa.fa-exclamation-triangle
                span &nbsp;Error code #{statusCode}
            pre#content= error