doctype html
html
    head
        title= "TACstream"
        include ./includes/head.jade
    body
        .container
            .jumbotron.text-center
                h1
                    span.fa.fa-lock
                    span Node authentication
                if authenticatedUser 
                    p 
                        img(src='#{authenticatedUser.profilePictureUrl}')
                        | Logged user: #{authenticatedUser.displayName}
                    a.btn.btn-default(href='/home')
                        span.fa.fa-user
                        span &nbsp;Profile
                    a.btn.btn-default(href='/logout')
                        span.fa.fa-user
                        span &nbsp;Logout
                else
                    p user not logged in
                    a.btn.btn-default(href='/login')
                        span.fa.fa-user
                        span &nbsp;login
                    a.btn.btn-default(href='/signup')
                        span.fa.fa-user
                        span &nbsp;Signup